@import url(./fonts/fonts.css);

:root {
  --app-dark-blue: #154368;
  --app-blue: #2E6DA4;
  --app-light-blue: #bfd9ff;
  --app-grey: #353535;
  --app-light-grey: #848484;
  --app-dark-grey: #15171a;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #e4ebee;
  font-family: neoteric;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 2rem;
  background: darkslategray;
  z-index: 1000;
  width: 100%;
  top: 0;
}

nav .header {
  width: 15rem;
  margin-right: 3rem;
}

nav a {
  margin-left: 1rem;
  color: white;
  font-size: 1rem;
  font-family: neoteric;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover {
  text-decoration: underline;
}

.app-wrapper {
  position: relative;
  width: 50%;
  position: relative;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 3rem;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50vh;
  min-height: 600px;
  background: darkslategray;
}

.home img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}

.home .text {
  position: relative;
  width: 40%;
  padding: 0 5rem;
  font-family: neoteric;
}

.home h1 {
  color: var(--app-light-blue)
}

.home h4 {
  color: white;
}

.app-wrapper .bottom {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 3rem;
  margin-top: -2rem;
  z-index: 100;
  background: white;
}

.app-wrapper .course-view-btn {
  width: 50%;
  border: var(--app-light-grey) 1px solid;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--app-grey);
}

.app-wrapper .course-view-btn:hover {
  color: var(--app-dark-grey);
}

.app-wrapper h3 {
  font-family: "resagokrregular";
  text-align: left;
  color: var(--app-blue);
  margin-bottom: 0.5em;
}

.app-wrapper hr {
  margin-top: 0;
}

.app-wrapper .add-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  background: var(--app-blue);
  color: white;
  height: 2rem;
  width: 12rem;
  left: calc(100% - 12.5rem);
  text-decoration: none;
}

.app-wrapper .add-btn:hover {
  background: #3a7db7;
}

.app-wrapper .add-btn span {
  font-size: .75em;
  margin-left: 0.5rem;
}

.student, .course {
  position: relative;
  display: flex;
  margin: 0.5rem;
  background: white;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.course {
  border-radius: 0.5rem;
  flex-direction: column;
  background: var(--app-dark-grey);
  padding: 0.5rem;
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
}

.student .item {
  display: inline-block;
}

.course .item {
  display: block;
}

.course .item.image {
  height: 6rem;
  width: 100%;
  display: block;
  background: var(--url);
  background-position: center;
  background-size: cover;
}

.student .info {
  padding-left: 10px;
  font-family: "resagokrregular";
  text-align: left;
}

.course .info {
  padding: 0 1rem;
}

.student .info .name, .course .info .title {
  font-size: 1.4em;
  color: #161c24;
  margin-bottom: 0;
}

.course .info .title {
  color: var(--app-light-blue);
}

.student .info .email {
  font-size: 1em;
  color: #393b3d;
}

.course .info .description {
  font-size: 0.9em;
  color: white;
}

.student .student-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}

.student .student-buttons .student-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

.student .student-buttons .student-btn:hover {
  cursor: pointer;
}

.student .student-buttons .student-btn.edit {
  background: #546455;
}

.student .student-buttons .student-btn.delete {
  background: #7c6662;
}

.custom-form {
  position: relative;
}

.custom-form input {
  height: 40px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: "resagokrregular";
  font-size: 1em;
  padding-left: 10px;
}

.custom-form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-family: "resagokrregular";
  font-size: 1em;
  padding-left: 10px;
}

.custom-form .form-submit button {
  height: 40px;
  border: none;
  padding: 0 2em 0 2em;
  margin: 0 10px 0 10px;
  font-size: 1.2em;
  font-family: "resagokrregular";
  border-radius: 0;
  color: white;
  background: #546455;
}

.react-confirm-alert-overlay .react-confirm-alert h1, .react-confirm-alert-overlay .react-confirm-alert h3 {
  font-family: "resagokrregular" !important;
}

.react-confirm-alert-overlay .react-confirm-alert .react-confirm-alert-button-group button {
  border-radius: 0;
  height: 40px;
}
